# Alerts

```
python -m http.server 80
```

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
plt.rcParams.update({'figure.figsize': (14, 10),})

In [3]:
df = pd.read_csv('alerts.2020.08.csv', sep=',')
df['Time'] = pd.to_datetime(df['Occurrence Time'])
df.drop(columns=['Occurrence Time','Alert Name', 'Severity', 'Alert Source'], inplace=True)
df['Day'] = df['Time'].apply(lambda x: pd.Timestamp.to_pydatetime(x).strftime("%A"))
df.Violation = df.Violation.str.strip(' ms/op')
df.drop(df[df.Violation == 'Warning'].index.values.tolist(),inplace=True)
df.Violation = pd.to_numeric(df.Violation)
#df.Violation = df.Violation.apply(lambda x: float(x))

#df = df[(df['Time'] > dt.datetime(2020,7,1))] # last month
df.set_index('Time', inplace=True)
df =  df[df.index.month > dt.datetime.now().month-1] 

df

,Condition,Violation,Resource,Internal Resource,Day
Time,,,,,
2020-08-04 23:23:22,>= 5 ms/op,5.01,CH-IBM.2107-75KBD21,czas0134_s_1913_1913,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.08,CH-IBM.2107-75KBD21,czas0134_s_190D_190d,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.29,CH-IBM.2107-75KBD21,czas0134_s_190A_190a,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.89,CH-IBM.2107-75KBD21,czas0134_s_1908_1908,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.40,CH-IBM.2107-75KBD21,czas0134_s_1816_1816,Tuesday
...,...,...,...,...,...
2020-08-19 23:00:23,>= 5 ms/op,5.66,CH-IBM.2107-75KBD21,czas0134_s_180E_180e,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.33,CH-IBM.2107-75KBD21,czas0134_s_180B_180b,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.25,CH-IBM.2107-75KBD21,czas0134_s_1907_1907,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.22,CH-IBM.2107-75KBD21,czas0134_s_190C_190c,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.27,CH-IBM.2107-75KBD21,czas0134_s_1914_1914,Wednesday

In [16]:
df.groupby(['Day']).apply(lambda x : x)

,Condition,Violation,Resource,Internal Resource,Time,Day
892,>= 1 ms/op,1.18,CH-IBM.2107-75KBD21,FB_pool_1,2020-07-04 06:46:25,Saturday
893,>= 1 ms/op,1.23,CH-IBM.2107-75KBD21,FB_pool_0,2020-07-04 06:49:26,Saturday
894,>= 1 ms/op,1.18,CH-IBM.2107-75KBD21,FB_pool_1,2020-07-04 06:57:24,Saturday
895,>= 1 ms/op,1.08,CH-IBM.2107-75KBD21,FB_pool_0,2020-07-04 07:04:24,Saturday
896,>= 1 ms/op,1.52,CH-IBM.2107-75KBD21,FB_pool_1,2020-07-04 07:08:24,Saturday
...,...,...,...,...,...,...
1685,>= 5 ms/op,6.11,CH-IBM.2107-75KBD21,czas0134_s_1915_1915,2020-07-29 21:28:25,Wednesday
1686,>= 5 ms/op,5.46,CH-IBM.2107-75KBD21,czas0134_s_1908_1908,2020-07-29 21:28:25,Wednesday
1687,>= 5 ms/op,5.69,CH-IBM.2107-75KBD21,czas0134_s_1812_1812,2020-07-29 21:28:25,Wednesday
1688,>= 5 ms/op,5.74,CH-IBM.2107-75KBD21,czas0134_s_1907_1907,2020-07-29 21:28:25,Wednesday
1689,>= 5 ms/op,5.56,CH-IBM.2107-75KBD21,czas0134_s_1902_1902,2020-07-29 21:30:24,Wednesday

In [4]:
Q1 = df.describe().Violation.loc['25%']
df[df.Violation > Q1]

,Condition,Violation,Resource,Internal Resource,Day
Time,,,,,
2020-08-04 23:23:22,>= 5 ms/op,5.29,CH-IBM.2107-75KBD21,czas0134_s_190A_190a,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.89,CH-IBM.2107-75KBD21,czas0134_s_1908_1908,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.40,CH-IBM.2107-75KBD21,czas0134_s_1816_1816,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.79,CH-IBM.2107-75KBD21,czas0134_s_190B_190b,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.34,CH-IBM.2107-75KBD21,czas0134_s_190F_190f,Tuesday
...,...,...,...,...,...
2020-08-19 23:00:23,>= 5 ms/op,5.54,CH-IBM.2107-75KBD21,czas0134_s_1905_1905,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.66,CH-IBM.2107-75KBD21,czas0134_s_180E_180e,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.33,CH-IBM.2107-75KBD21,czas0134_s_180B_180b,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.25,CH-IBM.2107-75KBD21,czas0134_s_1907_1907,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.27,CH-IBM.2107-75KBD21,czas0134_s_1914_1914,Wednesday

# Check for HVG

In [5]:
df[~(df.Resource == 'CH-IBM.2107-75KBD21')]

Empty DataFrame
Columns: [Condition, Violation, Resource, Internal Resource, Day]
Index: []

# Volumes

In [6]:
df[~(df['Internal Resource'] == 'FB_pool_0') & ~(df['Internal Resource'] == 'FB_pool_1')]

,Condition,Violation,Resource,Internal Resource,Day
Time,,,,,
2020-08-04 23:23:22,>= 5 ms/op,5.01,CH-IBM.2107-75KBD21,czas0134_s_1913_1913,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.08,CH-IBM.2107-75KBD21,czas0134_s_190D_190d,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.29,CH-IBM.2107-75KBD21,czas0134_s_190A_190a,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.89,CH-IBM.2107-75KBD21,czas0134_s_1908_1908,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.40,CH-IBM.2107-75KBD21,czas0134_s_1816_1816,Tuesday
...,...,...,...,...,...
2020-08-19 23:00:23,>= 5 ms/op,5.66,CH-IBM.2107-75KBD21,czas0134_s_180E_180e,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.33,CH-IBM.2107-75KBD21,czas0134_s_180B_180b,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.25,CH-IBM.2107-75KBD21,czas0134_s_1907_1907,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.22,CH-IBM.2107-75KBD21,czas0134_s_190C_190c,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.27,CH-IBM.2107-75KBD21,czas0134_s_1914_1914,Wednesday

In [7]:
 df[df['Internal Resource'].str.contains('FB_pool') == False]

,Condition,Violation,Resource,Internal Resource,Day
Time,,,,,
2020-08-04 23:23:22,>= 5 ms/op,5.01,CH-IBM.2107-75KBD21,czas0134_s_1913_1913,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.08,CH-IBM.2107-75KBD21,czas0134_s_190D_190d,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.29,CH-IBM.2107-75KBD21,czas0134_s_190A_190a,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.89,CH-IBM.2107-75KBD21,czas0134_s_1908_1908,Tuesday
2020-08-04 23:23:22,>= 5 ms/op,5.40,CH-IBM.2107-75KBD21,czas0134_s_1816_1816,Tuesday
...,...,...,...,...,...
2020-08-19 23:00:23,>= 5 ms/op,5.66,CH-IBM.2107-75KBD21,czas0134_s_180E_180e,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.33,CH-IBM.2107-75KBD21,czas0134_s_180B_180b,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.25,CH-IBM.2107-75KBD21,czas0134_s_1907_1907,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.22,CH-IBM.2107-75KBD21,czas0134_s_190C_190c,Wednesday
2020-08-19 23:00:23,>= 5 ms/op,5.27,CH-IBM.2107-75KBD21,czas0134_s_1914_1914,Wednesday

In [ ]:
#all is czas0134

In [11]:
df[df['Internal Resource'].str.contains('czas0134') == False]

Empty DataFrame
Columns: [Condition, Violation, Resource, Internal Resource, Day]
Index: []

In [15]:
df[(df.Violation > 6.3)][['Day', 'Violation', 'Internal Resource']]

                           Day  Violation     Internal Resource
Time
2020-08-04 23:40:26    Tuesday       6.59  czas0134_s_1814_1814
2020-08-04 23:40:26    Tuesday       8.00  czas0134_s_1813_1813
2020-08-04 23:40:26    Tuesday       6.37  czas0134_s_180C_180c
2020-08-04 23:45:23    Tuesday       6.44  czas0134_s_1806_1806
2020-08-05 18:10:23  Wednesday       6.44  czas0134_s_1811_1811
2020-08-05 18:21:24  Wednesday       6.48  czas0134_s_1800_1800
2020-08-05 18:30:25  Wednesday       6.42  czas0134_s_1908_1908
2020-08-05 18:32:26  Wednesday       7.16  czas0134_s_1810_1810
2020-08-11 01:19:23    Tuesday       6.51  czas0134_s_190D_190d
2020-08-17 19:52:22     Monday       6.54  czas0134_s_1907_1907
2020-08-17 20:03:22     Monday       7.13  czas0134_s_1910_1910
2020-08-17 20:15:23     Monday       7.23  czas0134_s_1810_1810
2020-08-19 22:11:23  Wednesday       6.38  czas0134_s_180F_180f
2020-08-19 22:11:23  Wednesday       6.45  czas0134_s_180C_180c
2020-08-19 22:33:23  Wednesday       6.54  czas0134_s_1802_1802
2020-08-19 22:38:23  Wednesday       6.44  czas0134_s_1805_1805
2020-08-19 22:52:22  Wednesday       6.36  czas0134_s_1908_1908

# Pools

In [9]:
 df[df['Internal Resource'].str.contains('FB_pool') == True]

Empty DataFrame
Columns: [Condition, Violation, Resource, Internal Resource, Day]
Index: []

In [8]:
pdf = df[df['Internal Resource'] == 'FB_pool_1']
pdf = pdf[df.Violation > 1.8]
#pdf.reset_index(inplace=True)
pdf.set_index('Time', inplace=True)
print(f'Output {pdf.shape[0]} rows')
pdf[['Day', 'Violation']]

<ipython-input-8-2a10d2d088d0>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pdf = pdf[df.Violation > 1.8]

KeyError: "None of ['Time'] are in the columns"

In [1]:
wdf.index.year

NameError: name 'wdf' is not defined

In [57]:
# Working days

wdf = df[~(df['Day'] == 'Saturday') & ~(df['Day'] == 'Sunday')]
wdf.set_index('Time', inplace=True)

In [58]:
wdf[~(wdf.Day == 'Wednesday')][['Day', 'Violation', 'Internal Resource']]

                         Day  Violation     Internal Resource
Time
2020-07-06 22:37:23   Monday       6.60  czas0134_s_1903_1903
2020-07-06 22:37:23   Monday       6.40  czas0134_s_180C_180c
2020-07-06 22:37:23   Monday       6.48  czas0134_s_180A_180a
2020-07-06 22:37:23   Monday       5.63  czas0134_s_180B_180b
2020-07-06 22:37:23   Monday       6.50  czas0134_s_1907_1907
...                      ...        ...                   ...
2020-07-21 23:38:25  Tuesday       5.40  czas0134_s_1816_1816
2020-07-21 23:39:24  Tuesday       5.11  czas0134_s_1901_1901
2020-07-21 23:39:24  Tuesday       5.27  czas0134_s_180C_180c
2020-07-21 23:39:24  Tuesday       5.43  czas0134_s_180B_180b
2020-07-21 23:39:24  Tuesday       5.35  czas0134_s_1802_1802

[149 rows x 3 columns]

In [59]:
wdf[(wdf.Day == 'Monday')].describe()

       Violation
count  44.000000
mean    5.761818
std     0.545899
min     5.020000
25%     5.352500
50%     5.680000
75%     6.000000
max     7.110000

In [56]:
wdf[(wdf.Day == 'Wednesday')][['Day', 'Violation', 'Internal Resource']]

                           Day  Violation     Internal Resource
Time
2020-07-29 21:00:24  Wednesday       5.72  czas0134_s_1910_1910
2020-07-29 21:00:24  Wednesday       5.36  czas0134_s_1904_1904
2020-07-29 21:00:24  Wednesday       5.01  czas0134_s_1808_1808
2020-07-29 21:00:24  Wednesday       5.68  czas0134_s_1805_1805
2020-07-29 21:00:24  Wednesday       5.09  czas0134_s_1811_1811
...                        ...        ...                   ...
2020-07-29 21:28:25  Wednesday       6.11  czas0134_s_1915_1915
2020-07-29 21:28:25  Wednesday       5.46  czas0134_s_1908_1908
2020-07-29 21:28:25  Wednesday       5.69  czas0134_s_1812_1812
2020-07-29 21:28:25  Wednesday       5.74  czas0134_s_1907_1907
2020-07-29 21:30:24  Wednesday       5.56  czas0134_s_1902_1902

[120 rows x 3 columns]

In [34]:
wdf[(wdf.Day == 'Monday') & (wdf.Violation > 6.4)][['Day', 'Violation', 'Internal Resource']]

                        Day  Violation     Internal Resource
Time
2020-07-06 22:37:23  Monday       6.60  czas0134_s_1903_1903
2020-07-06 22:37:23  Monday       6.48  czas0134_s_180A_180a
2020-07-06 22:37:23  Monday       6.50  czas0134_s_1907_1907
2020-07-06 22:37:23  Monday       6.54  czas0134_s_1809_1809
2020-07-06 22:37:23  Monday       6.47  czas0134_s_1906_1906
2020-07-06 22:59:26  Monday       6.82  czas0134_s_1800_1800
2020-07-06 23:01:29  Monday       7.11  czas0134_s_1802_1802
2020-07-06 23:01:29  Monday       6.54  czas0134_s_1914_1914
2020-07-06 23:01:29  Monday       6.62  czas0134_s_180C_180c

In [41]:
wdf[(wdf.Day == 'Tuesday') & (wdf.Violation > 6.16)][['Day', 'Violation', 'Internal Resource']]

                         Day  Violation     Internal Resource
Time
2020-07-21 20:27:23  Tuesday       6.23  czas0134_s_1805_1805
2020-07-21 20:28:24  Tuesday       6.55  czas0134_s_190C_190c
2020-07-21 20:43:24  Tuesday       7.38  czas0134_s_190E_190e
2020-07-21 20:43:24  Tuesday       6.36  czas0134_s_190B_190b
2020-07-21 20:43:24  Tuesday       7.28  czas0134_s_1914_1914
2020-07-21 20:43:24  Tuesday       6.42  czas0134_s_1810_1810
2020-07-21 20:43:24  Tuesday       6.39  czas0134_s_180F_180f
2020-07-21 20:43:24  Tuesday       6.23  czas0134_s_190A_190a
2020-07-21 23:34:23  Tuesday       6.25  czas0134_s_1900_1900

In [48]:
wdf[(wdf.Day == 'Wednesday') & (wdf.Violation > 6.7)][['Day', 'Violation', 'Internal Resource']]

                           Day  Violation     Internal Resource
Time
2020-07-29 21:11:28  Wednesday       6.84  czas0134_s_1902_1902
2020-07-29 21:11:28  Wednesday       6.93  czas0134_s_1806_1806
2020-07-29 21:11:28  Wednesday       6.76  czas0134_s_190A_190a
2020-07-29 21:11:28  Wednesday       7.71  czas0134_s_190C_190c
2020-07-29 21:11:28  Wednesday       7.27  czas0134_s_1914_1914
2020-07-29 21:11:28  Wednesday       8.00  czas0134_s_180A_180a
2020-07-29 21:11:28  Wednesday       7.13  czas0134_s_1911_1911

In [51]:
wdf[~(wdf.Day == 'Wednesday') & ~(wdf.Day == 'Monday')  & ~(wdf.Day == 'Tuesday') ]

Empty DataFrame
Columns: [Condition, Violation, Resource, Internal Resource, Day]
Index: []

In [ ]:
pdf[][['Time', 'Day', 'Violation']]

In [ ]:
df['match'] = df.col1.eq(df.col1.shift())
df['match'] = df.col1 == df.col1.shift()

# slicing
def comp_prev(a):
    return np.concatenate(([False],a[1:] == a[:-1]))

df['match'] = comp_prev(df.col1.values)

In [ ]:
'Saturday' 'Sunday'

In [21]:
np.datetime64('2015-05-17')

numpy.datetime64('2015-05-17')

In [28]:
('2014-01-23 00:00:00', tz=None).to_pydatetime()

datetime.datetime(2014, 1, 23, 0, 0)

In [23]:
np.datetime64('2020-05-09 06:42:22')

numpy.datetime64('2020-05-09T06:42:22')

In [45]:
dt.datetime(2020,5,1)

datetime.datetime(2020, 5, 1, 0, 0)