# New features

In [2]:
import sys
sys.version

'3.8.1 (default, Feb  2 2020, 08:37:37) \n[GCC 8.3.0]'

___
# Merge Dictionaries
## 1. The `.update()` method 

is called from the primary dictionary and accepts another dictionary as an argument.

#### Drawback:  is not an expression and needs a temporary variable

In [7]:
d1 = { "first_name": "Jonathan", "last_name": "Hsu" }
d2 = { "first_name": "Jet", "age": 15 }

d1.update(d2)
d1

{'first_name': 'Jet', 'last_name': 'Hsu', 'age': 15}

## 2. double-asterisk operator
An alternative is the double-asterisk operator, which is used to unpack dictionaries:

#### Drawback:  Dict unpacking looks ugly and is not easily discoverable.

In [8]:
d1 = { "first_name": "Jonathan", "last_name": "Hsu" }
d2 = { "first_name": "Jet", "age": 15 }

{ **d1, **d2 }

{'first_name': 'Jet', 'last_name': 'Hsu', 'age': 15}

## 3. `collections.ChainMap()`
ChainMap is unfortunately poorly-known and doesn't qualify as "obvious". 

#### Drawback:  resolves duplicate keys in the opposite order to that expected ("first seen wins" instead of "last seen wins"). Like dict unpacking, it is tricky to get it to honor the desired subclass. For the same reason, type(d1)(ChainMap(d2, d1)) fails for some subclasses of dict.

In [14]:
import collections

d1 = { "first_name": "Jonathan", "last_name": "Hsu" }
d2 = { "first_name": "Jet", "age": 15 }

dict(collections.ChainMap(d2, d1))

{'first_name': 'Jet', 'last_name': 'Hsu', 'age': 15}

## 4. `dict(d1, **d2)`
This "neat trick" is not well-known, and only works when d2 is entirely string-keyed:

In [15]:
d1 = { "first_name": "Jonathan", "last_name": "Hsu" }
d2 = { "first_name": "Jet", "age": 15 }

dict(d1, **d2)

{'first_name': 'Jet', 'last_name': 'Hsu', 'age': 15}

##  5. Union Operators To dict
[PEP 584 -- Add Union Operators To dict](https://www.python.org/dev/peps/pep-0584/)

Remember, these operators will only be available in Python 3.9 and above so make sure you add the appropriate version validation to your code.

In [9]:
d1 = { "first_name": "Jonathan", "last_name": "Hsu" }
d2 = { "first_name": "Jet", "age": 15 }
d1 | d2

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

___
# Waltrus operator
The `:=` operarot