https://github.com/guipsamora/pandas_exercises

https://github.com/justmarkham/pandas-videos

https://github.com/ajcr/100-pandas-puzzles


# Python

https://github.com/jerry-git

https://github.com/trekhleb

https://github.com/rasbt/python_reference

https://github.com/zhiwehu/Python-programming-exercises

https://github.com/MTrajK/coding-problems

https://github.com/TheAlgorithms

In [1]:
import IPython.display

IPython.display.Markdown('README.md')

# pysnippets
Various python snippets:

| filename           | description        |
|--------------------|--------------------|
| plt_tutorial.ipynb | pyplot tutorial    |
|||

In [7]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", 18)

import matplotlib.pyplot as plt
plt.rcParams.update({'figure.figsize': (20, 12),})
%config InlineBackend.figure_format = 'retina'

ted = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pycon-2019-tutorial/master/ted.csv')

# Wine Reviews
130k wine reviews with variety, location, winery, price, and description

## 2019 Best BuyS:
https://www.winemag.com/buying-guide/jacobs-creek-2017-classic-merlot-australia/

In [20]:
wine = pd.read_csv('https://gist.githubusercontent.com/clairehq/79acab35be50eaf1c383948ed3fd1129/raw/407a02139ae1e134992b90b4b2b8c329b3d73a6a/winemag-data-130k-v2.csv', index_col=0)
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65499 entries, 0 to 65498
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65467 non-null  object
 1   description            65499 non-null  object
 2   designation            46588 non-null  object
 3   points                 65499 non-null  int64
 4   price                  60829 non-null  float64
 5   province               65467 non-null  object
 6   region_1               54744 non-null  object
 7   region_2               25170 non-null  object
 8   taster_name            51856 non-null  object
 9   taster_twitter_handle  49467 non-null  object
 10  title                  65499 non-null  object
 11  variety                65499 non-null  object
 12  winery                 65499 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.0+ MB

In [24]:
wine.winery.unique().shape

(13549,)

In [25]:
wine.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [26]:
wine.groupby('points').points.count()

points
80      155
81      305
82      923
83     1442
84     3490
       ...
96      262
97       99
98       39
99       15
100       8
Name: points, Length: 21, dtype: int64

In [28]:
wine.query('points > 99 and price < 200', engine='python')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
58352,France,"This is a magnificently solid wine, initially ...",NaN,100,150.0,Bordeaux,Saint-Julien,NaN,Roger Voss,@vossroger,Château Léoville Barton 2010 Saint-Julien,Bordeaux-style Red Blend,Château Léoville Barton

In [32]:
wine.winery.unique()

array(['Nicosia', 'Quinta dos Avidagos', 'Rainstorm', ..., 'Musetta',
       'Merum', 'Nickname'], dtype=object)

In [33]:
wine.price.max()

2500.0

In [89]:
wine['czk'] = wine.price.apply(lambda x: toczk(x,'USD'))

In [96]:
wine.query('czk < 199 and points > 89')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,czk
5145,US,"A rich, opulent wine at an unbelievable price,...",NaN,90,8.0,California,California,California Other,NaN,NaN,Esser Cellars 2001 Chardonnay (California),Chardonnay,Esser Cellars,175.912
7683,Spain,It's almost absurd how good this $9 Tempranill...,NaN,90,9.0,Central Spain,Vino de la Tierra de Castilla,NaN,Michael Schachner,@wineschach,Mano A Mano 2011 Tempranillo (Vino de la Tierr...,Tempranillo,Mano A Mano,197.901
9733,Portugal,Produced from the vines that surround the fami...,Quinta da Aveleda Estate Bottled,90,9.0,Vinho Verde,NaN,NaN,Roger Voss,@vossroger,Aveleda 2014 Quinta da Aveleda Estate Bottled ...,Portuguese White,Aveleda,197.901
10386,US,"A marvelous effort in a difficult year, this t...",NaN,91,9.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Chateau Ste. Michelle 2011 Riesling (Columbia ...,Riesling,Chateau Ste. Michelle,197.901
20197,Portugal,The Aveleda estate is the source of the fruit ...,Quinta da Aveleda Estate Bottled,90,9.0,Vinho Verde,NaN,NaN,Roger Voss,@vossroger,Aveleda 2012 Quinta da Aveleda Estate Bottled ...,Portuguese White,Aveleda,197.901
26101,US,"With full ripeness, density and concentration,...",Winemaker's Select,91,8.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Snoqualmie 2006 Winemaker's Select Riesling (C...,Riesling,Snoqualmie,175.912
30513,Portugal,The Douro version of Paxis is a blend of Touri...,Paxis,90,9.0,Douro,NaN,NaN,Roger Voss,@vossroger,DFJ Vinhos 2011 Paxis Red (Douro),Portuguese Red,DFJ Vinhos,197.901
31310,US,"Great price for a big, powerful red like this....",NaN,90,9.0,California,Alexander Valley,Sonoma,NaN,NaN,Rendition 2007 Petite Sirah (Alexander Valley),Petite Sirah,Rendition,197.901
34629,Portugal,"Richly tannic, this concentrated wine has grea...",Toutalga,91,7.0,Alentejano,NaN,NaN,Roger Voss,@vossroger,Herdade dos Machados 2012 Toutalga Red (Alente...,Portuguese Red,Herdade dos Machados,153.923
43051,US,"This has ripe Sonoma flavors of green apples, ...",NaN,90,9.0,California,Sonoma County,Sonoma,NaN,NaN,Wheelhouse 2011 Chardonnay (Sonoma County),Chardonnay,Wheelhouse,197.901
43977,US,Kudos to Ste. Michelle for accurately labeling...,Dry,91,9.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Chateau Ste. Michelle 2010 Dry Riesling (Colum...,Riesling,Chateau Ste. Michelle,197.901
54987,Portugal,"This is a firmly structured, dark wine. It has...",Vega,90,9.0,Douro,NaN,NaN,Roger Voss,@vossroger,DFJ Vinhos 2011 Vega Red (Douro),Portuguese Red,DFJ Vinhos,197.901
56988,US,"This tangy, all-stainless, lightly grassy, dry...",Fumé Blanc,91,9.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Barnard Griffin 2012 Fumé Blanc Sauvignon Blan...,Sauvignon Blanc,Barnard Griffin,197.901
62157,US,Firm and full of fresh pear and apple and whit...,NaN,90,9.0,Washington,Rattlesnake Hills,Columbia Valley,Paul Gregutt,@paulgwine,Hyatt Vineyards 2008 Pinot Gris (Rattlesnake H...,Pinot Gris,Hyatt Vineyards,197.901
62178,Portugal,"Now in a smart clear blue bottle, this is Avel...",Quinta da Aveleda,90,9.0,Vinho Verde,NaN,NaN,Roger Voss,@vossroger,Aveleda 2009 Quinta da Aveleda White (Vinho Ve...,Portuguese White,Aveleda,197.901

In [ ]:
and winery.str.contains("Maisson")

In [165]:
wine.query('winery.str.contains("Côtes") and country == "France"', engine='python')

Empty DataFrame
Columns: [country, description, designation, points, price, province, region_1, region_2, taster_name, taster_twitter_handle, title, variety, winery, czk]
Index: []

# kurzy-devizoveho-trhu

In [43]:
import datetime as dt
TODAY = dt.datetime.now().strftime('%d.%m.%Y')
TODAY

'31.08.2020'

In [204]:
import datetime as dt
TODAY = dt.datetime.now().strftime('%d.%m.%Y')
cnb = pd.read_csv(f'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/denni_kurz.txt?date={TODAY}', delimiter='|', skiprows=1)
cnb['kurz'] = cnb.kurz.apply(lambda x: x.replace(',','.')).astype(np.float64)
cnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   země      33 non-null     object
 1   měna      33 non-null     object
 2   množství  33 non-null     int64
 3   kód       33 non-null     object
 4   kurz      33 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [86]:
cnb.kód.unique()

array(['AUD', 'BRL', 'BGN', 'CNY', 'DKK', 'EUR', 'PHP', 'HKD', 'HRK',
       'INR', 'IDR', 'ISK', 'ILS', 'JPY', 'ZAR', 'CAD', 'KRW', 'HUF',
       'MYR', 'MXN', 'XDR', 'NOK', 'NZD', 'PLN', 'RON', 'RUB', 'SGD',
       'SEK', 'CHF', 'THB', 'TRY', 'USD', 'GBP'], dtype=object)

In [208]:
def toczk(value:float=1, kod_meny:str='EUR') -> float:
    return cnb.query('kód == @kod_meny').kurz.values[0] * value

toczk(1, 'USD')

21.953

In [207]:
toczk()

26.21

In [63]:
cnb['kurz'] = cnb.kurz.apply(lambda x: x.replace(',','.')).astype(np.float64)

In [61]:
pd.to_numeric(cnb.kurz)

0     16.159
1      3.996
2     13.396
3      3.205
4      3.520
       ...
28    24.355
29    70.648
30     3.006
31    21.989
32    29.288
Name: kurz, Length: 33, dtype: float64

In [62]:
cnb.kurz.astype(np.float64)

0     16.159
1      3.996
2     13.396
3      3.205
4      3.520
       ...
28    24.355
29    70.648
30     3.006
31    21.989
32    29.288
Name: kurz, Length: 33, dtype: float64

In [54]:
cnb.query('kód == "USD"').kurz.str.replace(',','.')

31    21.989
Name: kurz, dtype: object

# 22 Pythonic Tricks for Working with Strings

0. Is a Substring in a String?
Use the in-built comparator in which returns True or False

In [98]:
def sub_00(haystack: str="", needle:str="") -> bool:
    return needle in haystack

assert sub_00("the quick brown fox jumped over the lazy dog", "lazy") == True
assert sub_00("the quick brown fox jumped over the lazy dog", "lazys") == False

In [103]:
def string_reverse(forward: str = "") -> str:
    return forward[::-1]

assert string_reverse("hello") == "olleh"
assert string_reverse("goodbye") != "goodbye"
assert string_reverse('kobylamamalybok') != 'kobylamamalybok'

AssertionError:

2. Compare Two Strings for Equality
Compare equality using == to see if two objects have an equal value.
Compare identity using is to see if two objects are one and the same.

In [104]:
def are_equal(first_comparator: str = "", second_comparator: str = "") -> bool:
    return first_comparator == second_comparator


assert are_equal("thing one", "thing two") is False
assert are_equal("a thing", "a " + "thing") is True

In [105]:
def concatenate(*argv)->str:
    return ''.join(argv)


assert concatenate("a", "b", "c") == "abc"

In [106]:
def is_null_or_blank(input_string: str = "") -> bool:

    if input_string: 
        if input_string.strip():
            return False
    return True


assert is_null_or_blank(None) == True
assert is_null_or_blank("") == True
assert is_null_or_blank("  ") == True
assert is_null_or_blank(" d ") == False

In [136]:
import string
import secrets


def generate_random_string(length: int = 0) -> str:
    result = "".join(
        secrets.choice(string.ascii_letters + string.digits)
        for _ in range(length))
    return result


generate_random_string(14)

'py7BZMQCZvQdr0'

In [142]:
def file_to_list(filename: str = "") -> list:

    with open(filename, "r") as f:
        print(type(f))
        lines = list(f)

    return lines


#assert len(file_to_list("<PATH TO FILE>")) == LINE_COUNT
file_to_list('/Users/kcoufal/miniconda3/lib/python3.7/string.py')[:10]

<class '_io.TextIOWrapper'>

['"""A collection of string constants.\n',
 '\n',
 'Public module variables:\n',
 '\n',
 'whitespace -- a string containing all ASCII whitespace\n',
 'ascii_lowercase -- a string containing all ASCII lowercase letters\n',
 'ascii_uppercase -- a string containing all ASCII uppercase letters\n',
 'ascii_letters -- a string containing all ASCII letters\n',
 'digits -- a string containing all ASCII decimal digits\n',
 'hexdigits -- a string containing all ASCII hexadecimal digits\n']

In [146]:
import subprocess
import ast


def exec_string(input_string: str = "") -> str:
    result = subprocess.getoutput(input_string)
    return result


def eval_string(input_string: str = "") -> str:
    result = ast.literal_eval(input_string)
    return str(result)


assert exec_string("ls -l")
assert eval_string("{ 'key':'value' }") == "{'key': 'value'}"

In [147]:
exec_string("pwd")

'/Users/kcoufal/Box/Projects/Python'

In [153]:
subprocess.getoutput("df -h /").split()[13]

'3.0Gi'

## 11. Find the Substring Between Two Markers

Use regular expressions and F-Strings.

In [155]:
import re

def between(first: str = "", second: str = "", input_string="") -> str:
    
    m = re.search(f"{first}(.+?){second}", input_string)
    if m:
        return m.group(1)

    else:
        return ""


assert between(input_string="adCCCTHETEXTZZZdfhewihu",
               first="CCC",
               second="ZZZ") == "THETEXT"

In [175]:
first = "CCC"
second = "ZZZ"
input_string = "adCCCTHETEXTZZZdfhewihu"
m = re.search(f"{first}(.+?){second}", input_string)
m.group(0),m.group(1)

('CCCTHETEXTZZZ', 'THETEXT')

In [220]:
import re

EMAIL_REGEX = re.compile(r'^([\w\.=-]+@[\w\.-]+\.[\w]{2,3})$')
email = 'kcoufal@gmail.com'

EMAIL_REGEX.match('kcoufal@gmail.com')

In [219]:
re.match(r"^[A-Za-z0-9\.\+_-]+@[A-Za-z0-9\._-]+\.[a-zA-Z]*$", email)

## 12. Remove all Punctuation from a String
The strings module contains a list of punctuation characters.
Use translate (see #21) to remove them from the string.

In [ ]:
import string


def remove_punctuation(input_string: str = "") -> str:
    return input_string.translate(str.maketrans("", "", string.punctuation))


assert remove_punctuation("Hello!") == "Hello"
assert remove_punctuation("He. Saw! Me?") == "He Saw Me"
view raw

## 13. Encode and Decode UTF-8 URLs

UTF-8 allows us to use extended, double-word characters — such as emojis. These need to be encoded before they can be used in a URL.

In [195]:
import urllib.parse


def encode_url(url: str = "") -> str:
    return urllib.parse.quote(url)


def decode_url(url: str = "") -> str:
    return urllib.parse.unquote(url)


assert (encode_url("example.com?title=¨ˆπœ˚∑π") ==
        "example.com%3Ftitle%3D%C2%A8%CB%86%CF%80%C5%93%CB%9A%E2%88%91%CF%80")
assert decode_url("example.com?title=%a0%f7%b1") == "example.com?title=���"

## 14. Use Base64 Encoding on Strings
Base64 is a method to encode binary data as a string for transmitting in text messages. You can also use it to encode UTF-8 strings.

In [196]:
import base64


def encode_b64(input_string: str = "") -> object:
    return base64.b64encode(input_string.encode("utf-8"))


def decode_b64(input_string: str = "") -> object:
    return base64.b64decode(input_string).decode("utf-8")


assert encode_b64("Hello") == b"SGVsbG8="
assert decode_b64(b"SGVsbG8=") == "Hello"

## 15. Calculate the Similarity of Two Strings
Aside from using the Levenshtein distance in nltk.edit_distance, you could try the difflib library.
A value of 1.0 would indicate equality.

In [197]:
import difflib


def similarity(left: str = "", right: str = "") -> float:

    seq = difflib.SequenceMatcher(None, left, right)
    return seq.ratio()


assert similarity("I like bananas", "I like bananarama") >= 0.80
assert similarity("I like bananas", "The quick brown fox") <= 0.25

## 16. Remove a Character at a Specific Index
Again, strings are a sequence of characters, so you can use slicing operations.

In [198]:

def remove_by_index(original: str = "", index: int = -1) -> tuple:
    if len(original) >= index and index >= 0:
        return (original[:index] + original[index + 1:], original[index])
    else:
        return (original, "")


assert remove_by_index("0123456789", 5) == ("012346789", "5")

## 17. Convert Between CSV and List
Comma-separated values are everywhere because Excel is the best, general-purpose solution to any data problem! ;)
Let’s take a single of CSV line and convert it into a list of values.

In [199]:
def from_csv_line(line: str = "") -> list:

    return line.split(",")


assert from_csv_line("a,b,c") == ["a", "b", "c"]

In [200]:
# Now let’s do the reverse: take a list and return a CSV line.
def from_list(line: list = []) -> str:

    ret = ", ".join(e for e in line)
    return ret


assert from_list(["a", "b", "c"]) == "a, b, c"
assert from_list(["one", "two", "three"]) == "one, two, three"

## 18. Weave Two Strings
Use zip_longest from the itertools module to zip two strings of unequal length.
This solution joins the output a list comprehension which concatenates i + j.

In [201]:
import itertools


def interleave(left: str = "", right: str = "") -> str:

    return "".join(
        [i + j for i, j in itertools.zip_longest(left, right, fillvalue="")])


assert interleave("ABCD", "01") == "A0B1CD"

## 19. Remove Unwanted Characters from a String
Use the replace function. Remember: you can’t change the value of a string in-place — strings are immutable.
Also, see #21.

In [ ]:
def remove_unwanted(original: str = "",
                    unwanted: str = "",
                    replacement: str = "") -> str:
                    
    return original.replace(unwanted, replacement)


assert remove_unwanted(original="M'The Real String'",
                       unwanted="M") == "'The Real String'"

## 20. Find the Index Locations of a Character in a String
This solution uses a list comprehension with a filter using if.

In [202]:
def find_char_locations(original: str = "", character: str = "") -> list:

    return [index for index, char in enumerate(original) if char == character]


assert find_char_locations("The jolly green giant.", "e") == [2, 12, 13]

## 21. Translate a String to Leetspeak
Use the functions maketrans and translate.

In [203]:
def to_leetspeak(normal_speak:str="") -> str:

    leet_mapping = str.maketrans("iseoau", "1530^Ü")
    return normal_speak.translate(leet_mapping).title().swapcase()

assert to_leetspeak("the quick brown fox jumped over the lazy dogs") == \
    "tH3 qÜ1cK bR0wN f0x jÜMP3d 0v3r tH3 l^zY d0g5"

In [176]:
True == 1

True

In [177]:
False == 0

True

In [178]:
True = 1

SyntaxError: can't assign to keyword (<ipython-input-178-1598b51f0f76>, line 1)

In [185]:
bool('')

False

In [186]:
None == 0

False

In [187]:
x = None
y = None
id(x),id(y)

(4465555560, 4465555560)

In [188]:
id(None)

4465555560

In [189]:
x is y

True

In [190]:
y is None

True

In [193]:
import decimal

decimal.Decimal(1)

Decimal('1')

In [192]:
?decimal.Decimal

Init signature: decimal.Decimal(value='0', context=None)
Docstring:
Construct a new Decimal object. 'value' can be an integer, string, tuple,
or another Decimal object. If no value is given, return Decimal('0'). The
context does not affect the conversion and is only passed to determine if
the InvalidOperation trap is active.
File:           ~/miniconda3/lib/python3.7/decimal.py
Type:           type
Subclasses:

In [4]:
def try_finally1():
    try:
        print('do some stuff')
        float('abc')
    except ValueError:
        print('an error occurred')
    else:
        print('no error occurred')
    finally:
        print('always execute finally')

try_finally1()

do some stuff
an error occurred
always execute finally