In [3]:
import pandas as pd

shared_link = 'https://dl.boxcloud.com/d/1/b1!S7I__34jEdKtaeJlzN_MUpxD2pg6dDJ7eC_suzsHjsmc3gNx4x9BcolSpiHTLzK2oH1QCW4d-AWuRttYMPOReHL-cSTorLPU_v1DMNCEnAReFW4ir0awKKjaJHbJocbbUmTjVeXzGp6bAvXI8VEBZ86GJv-I9tMhn7B6SfKPDP2TlWdj005w6SFldCNk_nhU32-ZSGSiZ9GZkrpCvkyY6xDm4L7flYFec5Hkwcvsa6MRviLLcoZj6AhKRqMIlGK33q-saB1PnG90iTVdyStSBMJzmOd8bY4C79pMK_FxMamZZTLF2bjnbqR6EDoH148zJKYA6e4DP-TdsGEc1HzdjQ0oJM8C6uQQF-fOotHeDFHs9ms-2hx-A0ZZVcGnXFXmiWaozoWZB9KERVHOYyvNzJtm-fjjKDZZ9bm1p4e3bnzNjyP9IIkPpMfqyMVgeM7mxeM4tajDsjMNX6UuEKcAZIq-jhmuRCR3SfzDkXW0Q2vJZ5B3uotjm7FyhfTdiIp1AsJaK0cjfIeIHk9LP--abqT3VygNjj-AA4PtO57QEh-pEepJSY0gb_YnoSjPtzC5ffrZQk3ShUKClYQZwI2iGXaxJ11tXWb8ugu7VhiZ0rDvQ8jCOaJcA_fb7iXwc6bOE-12O2H5H5UUvkcLugPJYABOtX2Eg7K6tlBnon2A9VsnWvwVFggF63n2DwQUHNsZYGrfug8c-oMxE5jySXO9HwVsyqPHyRi_zalzCxnekxxzyi7SPb0qTKGH6axhctZ-QS-p3bulPKz9sErTs7ztsL1aRghyT7QbO8que9t8Ep4CF-mylmxY9HI61SmHSKi3rGPCoLBSW8hgkbyuPVBFGFTFGZ_viJDJ07S-xeXSvmRZRfiSxklc6pkvPIZTbUFnyD6p2MgyDSwO7e9AZRV-qNVUGRv0OWSLvy5SCi2sjCNW2BUU0X-8Bfx7tBxnG3H2f-3NiP4-yJbC282I2hjyQg3JCRKY7cO5puJcvafKIsNP4-xsJ9RTVIVt31PrbQOZUqOGZEIpqKWYDWPv_pX_sAPNVpuAbWqllW58_Ue6NrFX15Awl7Q49t9uexa_eTDMrZF-f0A2t-MqF4fH_BvZWcCVpP_-HyhB-HzaO3NJ7oGezYWsq0cEHdtSm07_XAW7X3iL201qjs3IZeH885R-Jt_wpUw1FX9dwWVmGx_dyYIhoJOlRwDSGioDdIsKd_7fj5Q9X8ZoGID0-Mgz3MXPvRBc2VFapC7jUjzahUQ2Vv9iFxoiBImTZrrVJNtNjLKw0w83i-VTZ2E8zAwqIPF2vkWPa0xavg_64GCfsRT4OiKOimvIH6Lxh4wQ0xqH2IvKaAyCbG0jFffrHbdxtzIKxGihxKDAUksdol1e9GN8YDB-pkSgXhKBcAbQOKD_BAUtFF89aQi83sGm4i_Q7C1GVAaOGlgg-vyjPfG5hADnjpik7bg./download'

df = pd.read_excel(shared_link, skiprows=2, parse_dates=[1])
df = df[['Datum', 'SW support coordinator', 'pSeries', 'iSeries']]
df

     Datum SW support coordinator  pSeries         iSeries
0    16.1.                 Mondek  Ostadal           Rehak
1    23.1.                   Endt  Aksenov            Endt
2    30.1.                Kalhous   Coufal         Kalhous
3     6.2.                 Mondek   Mondek          Dolejs
4    13.2.                Kalhous  Ostadal         Kalhous
..     ...                    ...      ...             ...
208  11.1.                Kalhous   Coufal         Kalhous
209  18.1.                 Mondek   Mondek  (Rehak) Dolejš
210  25.1.                Aksenov  Aksenov            Endt
211   1.2.                 Coufal   Coufal  (Dolejs) Řehák
212   8.2.                Kalhous   Mondek         Kalhous

[213 rows x 4 columns]

In [5]:
df.query("pSeries == 'Coufal'")[['Datum', 'SW support coordinator', 'pSeries']].to_excel('kc.xlsx', sheet_name='Coufal', index=False)

In [17]:
df.columns

Index(['Datum', 'SW support coordinator', 'pSeries'], dtype='object')

In [2]:
import pandas as pd
import datetime as dt

df = pd.read_excel('kc.xlsx')
df = df[['Datum', 'SW support coordinator', 'pSeries']][37:]
df['Datum'] = df['Datum'].str.rstrip('.')
df['split'] = df['Datum'].str.split('.')
df['Datum'] = df['split'].apply(lambda x: dt.datetime(2020,int(x[1]),int(x[0])))
df = df[['Datum', 'SW support coordinator', 'pSeries']]
df

        Datum SW support coordinator pSeries
37 2020-01-27                   Endt  Coufal
38 2020-02-24                   Endt  Coufal
39 2020-03-23                   Endt  Coufal
40 2020-04-20                   Endt  Coufal
41 2020-05-18                   Endt  Coufal
42 2020-06-15         (Endt) Kalhous  Coufal
43 2020-07-06                 Coufal  Coufal
44 2020-07-27                Kalhous  Coufal
45 2020-08-17                 Coufal  Coufal
46 2020-09-07                   Endt  Coufal
47 2020-09-28                 Coufal  Coufal
48 2020-10-19                Kalhous  Coufal
49 2020-11-09                 Coufal  Coufal
50 2020-11-30                   Endt  Coufal
51 2020-12-21                 Coufal  Coufal
52 2020-01-11                Kalhous  Coufal
53 2020-02-01                 Coufal  Coufal

In [10]:
std = df[df['Datum'] > dt.datetime.now()]
for l in std['Datum'].iloc:
    print(l, l + dt.timedelta(hours=8, minutes=30))
    print(l + dt.timedelta(hours=17), l + dt.timedelta(hours=23, minutes=59, seconds=59))

2020-07-27 00:00:00 2020-07-27 08:30:00
2020-07-27 17:00:00 2020-07-27 23:59:59
2020-08-17 00:00:00 2020-08-17 08:30:00
2020-08-17 17:00:00 2020-08-17 23:59:59
2020-09-07 00:00:00 2020-09-07 08:30:00
2020-09-07 17:00:00 2020-09-07 23:59:59
2020-09-28 00:00:00 2020-09-28 08:30:00
2020-09-28 17:00:00 2020-09-28 23:59:59
2020-10-19 00:00:00 2020-10-19 08:30:00
2020-10-19 17:00:00 2020-10-19 23:59:59
2020-11-09 00:00:00 2020-11-09 08:30:00
2020-11-09 17:00:00 2020-11-09 23:59:59
2020-11-30 00:00:00 2020-11-30 08:30:00
2020-11-30 17:00:00 2020-11-30 23:59:59
2020-12-21 00:00:00 2020-12-21 08:30:00
2020-12-21 17:00:00 2020-12-21 23:59:59

In [18]:
std['Datum'].iloc[0].strftime("%Y-%m-%d") + ' 17:00:00'

'2020-07-27 17:00:00'

In [39]:
from ics import Calendar, Event
c = Calendar()
e = Event()

std = df[df['Datum'] > dt.datetime.now()]
for l in std['Datum'].iloc:
    print(l)
    e.name = "AIX Standby" + random.choice(string.ascii_letters)
    e.begin = l.strftime("%Y-%m-%d %H:%M:%S")
    e.end =   (l + dt.timedelta(hours=8, minutes=30)).strftime("%Y-%m-%d %H:%M:%S")
    c.events.add(e)
    
c.events

2020-07-27 00:00:00
2020-08-17 00:00:00

ValueError: Begin must be before end

In [29]:
e.begin = '2020-07-27 00:00:00'
e.end = '2020-07-27 08:30:00'
c.events.add(e)
c.events

{<Event 'AIX Standby' begin:2020-07-27T00:00:00+00:00 end:2020-07-27T08:30:00+00:00>}

In [29]:
from ics import Calendar, Event
c = Calendar()
e = Event()

e.name = "AIX Standby"
e.begin = std['Datum'].iloc[0].strftime("%Y-%m-%d") + ' 17:00:00'
e.end = '2020-08-02 00:00:00'
c.events.add(e)
c.events

{<Event 'AIX Standby' begin:2020-07-27T17:00:00+00:00 end:2020-08-02T00:00:00+00:00>}

In [30]:
with open('my.ics', 'w') as my_file:
    my_file.writelines(c)

In [31]:
!cat my.ics

BEGIN:VCALENDAR
VERSION:2.0
PRODID:ics.py - http://git.io/lLljaA
BEGIN:VEVENT
DTEND:20200802T000000Z
DTSTART:20200727T170000Z
SUMMARY:AIX Standby
UID:1f6ecba2-ec1b-4b76-8367-bc2e6f55b871@1f6e.org
END:VEVENT
END:VCALENDAR

In [64]:
df['split'].apply(lambda x: x[0])

37    27
38    24
39    23
40    20
41    18
42    15
43     6
44    27
45    17
46     7
47    28
48    19
49     9
50    30
51    21
52    11
53     1
Name: split, dtype: object

In [32]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
import random
random.choice(string.ascii_letters)

'G'